<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- ===================================== -->
   <!-- Product                               -->
   <!-- ===================================== -->
   <extension point="org.eclipse.core.runtime.products" id="product">
      <!-- this is referenced in haxe4e.product as [plugin_id].[product_id], i.e. "org.haxe4e.studio.plugin.product" -->
      <!-- https://www.eclipse.org/articles/Article-Branding/branding-your-application.html -->
      <product application="org.eclipse.ui.ide.workbench" name="Haxe Studio">
         <property name="appName" value="Haxe Studio"/>
         <property
               name="aboutText"
               value="Haxe Studio - Eclipse based Haxe IDE&#x0A;https://github.com/haxe4e/haxe-studio&#x0A;&#x0A;Copyright 2021-2022 by the Haxe4E authors. All rights reserved. Eclipse and the Eclipse logo are trademarks of the Eclipse Foundation, Inc., https://www.eclipse.org/. Oracle and Java are trademarks or registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.&#x0A;&#x0A;This product includes software developed by other open source projects including the Eclipse Foundation, Inc., https://www.eclipse.org/ and Apache Software Foundation, https://www.apache.org/.">
         </property>
         <property
               name="windowImages"
               value="src/main/resources/images/logo/haxe4e_logo16x16.png,src/main/resources/images/logo/haxe4e_logo32x32.png,src/main/resources/images/logo/haxe4e_logo48x48.png,src/main/resources/images/logo/haxe4e_logo64x64.png,src/main/resources/images/logo/haxe4e_logo128x128.png,src/main/resources/images/logo/haxe4e_logo256x256.png">
         </property>
         <property
               name="aboutImage"
               value="src/main/resources/images/logo/haxe4e_logo64x64.png">
         </property>
      </product>
   </extension>
   <extension point="org.eclipse.core.runtime.applications" id="org.haxe4e.studio.application">
      <application>
         <run class="org.haxe4e.studio.HaxeStudioApplication"/>
      </application>
   </extension>

   <!-- ===================================== -->
   <!-- Key Bindings                          -->
   <!-- ===================================== -->
   <extension point="org.eclipse.ui.bindings">
      <key
         commandId="org.eclipse.ui.window.previousEditor"
         contextId="org.eclipse.ui.contexts.dialogAndWindow"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+SHIFT+TAB">
         <!-- navigate to previous editor using CTRL+SHIFT+TAB -->
      </key>
      <key
         commandId="org.eclipse.ui.window.nextEditor"
         contextId="org.eclipse.ui.contexts.dialogAndWindow"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+TAB">
         <!-- navigate to next editor using CTRL+TAB -->
      </key>
      <key
         commandId="org.eclipse.ui.window.fullscreenmode"
         contextId="org.eclipse.ui.contexts.dialogAndWindow"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F11">
        <!-- toggle fullscreen using F11 -->
      </key>
      <key
         commandId="org.eclipse.debug.ui.commands.DebugLast"
         contextId="org.eclipse.ui.contexts.dialogAndWindow"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+F11">
        <!-- run last debug using Alt+F11 -->
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.zoomIn"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL++ CTRL+NUMPAD_ADD">
        <!-- zoom in using CTRL++ -->
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.zoomOut"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+- CTRL+NUMPAD_SUBTRACT">
        <!-- zoom out using CTRL++ -->
      </key>
   </extension>

   <!-- ===================================== -->
   <!-- Content Type                          -->
   <!-- ===================================== -->
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="org.eclipse.core.runtime.text" priority="high" id="org.haxe4e.content.java" name="Java File" file-extensions="java"/>
      <content-type base-type="org.eclipse.core.runtime.text" priority="high" id="org.haxe4e.content.py" name="Python File" file-extensions="py,gp"/>

      <file-association content-type="org.haxe4e.content.java" file-extensions="java" />
      <file-association content-type="org.haxe4e.content.py" file-extensions="py,gp" />
   </extension>

   <!-- ===================================== -->
   <!-- Text Editor                           -->
   <!-- ===================================== -->
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="org.haxe4e.content.java" />
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor" contentTypeId="org.haxe4e.content.py" />
   </extension>

   <!-- ===================================== -->
   <!-- Syntax Highlighting                   -->
   <!-- ===================================== -->
   <extension point="org.eclipse.tm4e.registry.grammars">
      <!-- https://github.com/eclipse/tm4e/wiki/UI#extension-point -->
      <grammar path="src/main/resources/syntaxes/java.tmLanguage" scopeName="source.java" />
      <grammar path="src/main/resources/syntaxes/python.tmLanguage" scopeName="source.python" />
      <scopeNameContentTypeBinding contentTypeId="org.haxe4e.content.java" scopeName="source.java" />
      <scopeNameContentTypeBinding contentTypeId="org.haxe4e.content.py" scopeName="source.python" />
   </extension>

   <!-- ===================================== -->
   <!-- Launch Configuration                  -->
   <!-- ===================================== -->
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
         id="org.haxe4e.studio.launch.shortcut.external_file"
         class="org.haxe4e.studio.launch.RunExternalProgramShortcut"
         label="External Program"
         icon="platform:/plugin/org.eclipse.ui.externaltools/icons/full/obj16/external_tools.png"
         modes="run">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <and>
                        <adapt type="org.eclipse.core.resources.IFile" />
                        <or>
                           <and>
                              <!-- https://stackoverflow.com/questions/36906962/menu-item-shown-hidden-depending-on-os-name-in-plugin-xml -->
                              <systemTest property="osgi.os" value="win32" />
                              <or>
                                 <test property="org.eclipse.debug.ui.matchesPattern" value="**.bat" />
                                 <test property="org.eclipse.debug.ui.matchesPattern" value="**.cmd" />
                                 <test property="org.eclipse.debug.ui.matchesPattern" value="**.exe" />
                              </or>
                           </and>
                           <and>
                              <or>
                                 <systemTest property="osgi.os" value="linux" />
                                 <systemTest property="osgi.os" value="macos" />
                              </or>
                              <or>
                                 <test property="org.eclipse.debug.ui.matchesPattern" value="**.sh" />
                              </or>
                           </and>
                        </or>
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
